* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img,
fieldset,
iframe {
  border-style: none;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
